@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">SWEET'S</h1>
    @*<img src="https://cdn.pixabay.com/photo/2019/04/19/17/48/cake-balls-4139982_1280.jpg" class="img-fluid" alt="display">*@
    @*<link rel="stylesheet" href="/menu/site.css">*@

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<link rel="stylesheet" href="~/css/site.css">


